*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.tempo{
 padding-top: 30px;
  font-size: 20px;
  justify-content: center;

}
.tempo h2, .tempo h5{
font-family:  sans-serif;
color: rgb(255, 255, 255);

}
body{
  background: linear-gradient(to right,black,red)
}